input[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

input[type="file"] + label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;

    &.btn-2 {
        background-color: #99c793;
        border-radius: 50px;
        overflow: hidden;

        &::before {
            color: #fff;
            content: "\f382";
            font-family: "Font Awesome 5 Free";
            font-size: 100%;
            height: 100%;
            right: 130%;
            line-height: 3.3;
            position: absolute;
            top: 0px;
            transition: all 0.3s;
        }

        &:hover {
            background-color: darken(#99c793, 30%);

            &::before {
                right: 75%;
            }
        }
    }
}
