i[type="radio"]{
    font-family: "Font Awesome 5 Free";
    font-size: 1.3333333333333333em;
    font-weight: 900;
}
button{
    background: transparent;
    border: none;
}
.rating {
    float:left;
    width:30px;
}
.rating span i {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#F90;
    background:#0000;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
